.popup,
.popup-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.form {
  background-color: #ffffff;
  width: 430px;
  height: 330px;
  padding: 34px 36px 34px;
  position: relative;
  border-radius: 3%;
  box-sizing: border-box;
}

.form__close-button {
  position: absolute;
  top: -35px;
  right: -35px;
}

.form__close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.form__title {
  font-size: 24px;
  font-weight: 900;
  color: black;
  margin: 0;
}

.form__fields {
  margin: 54px 0 58px;
  display: flex;
  flex-direction: column;
  gap: 29px;
  padding: 0;
  border: 0;
}

.form__field {
  position: relative;
}

.form__label {
  display: none;
}

.form__input {
  font-size: 14px;
  height: 27px;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid gray;
}

.form__input_invalid {
  border-bottom: 1px solid red;
}

.form__error {
  font-size: 14px;
  color: red;
  position: absolute;
  top: 27px;
  left: 0px;
}

.form__submit-button {
  width: 358px;
  height: 50px;
  position: absolute;
  bottom: 36px;
  background-color: #ffffff;
  border: 1px solid gray;
  color: gray;
  cursor: not-allowed;
}

.form:valid .form__submit-button {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.form:valid .form__submit-button:hover {
  opacity: 0.8;
}
