.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.popup_opened {
  display: flex;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  color: #c4c4c4;
  border-radius: 2%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.popup__close-button {
  width: 40px;
  position: absolute;
  right: -44px;
  top: -44px;
}

.popup__close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.popup__title {
  width: 83%;
  margin: 34px auto 54px;

  font-size: 24px;
  color: #000000;
}

.popup__user-info {
  width: 100%;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 48px;
}

.popup__label {
  display: none;
}

.popup__input {
  width: 83%;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #c4c4c4;
}

.popup__save-button {
  box-sizing: content-box;
  border: 1px solid #c4c4c4;
  font-size: 18px;
  width: 83%;
  height: 50px;
  background-color: #ffffff;
  color: #c4c4c4;
  margin: 0 auto;
  cursor: not-allowed;
}

.popup__container:valid .popup__save-button {
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.popup__container:valid .popup__save-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 780px) {
  .popup__container {
    max-width: 400px;
  }

  .popup__close-button {
    right: 0;
    top: -50px;
    width: 32px;
  }

  .popup__title {
    width: 90%;
  }

  .popup__user-info {
    margin-bottom: 48px;
  }

  .popup__input {
    width: 90%;
  }

  .popup__save-button {
    width: 90%;
    padding: 0;
    border: 1px solid #c4c4c4;
    font-size: 18px;
    background-color: inherit;
    color: inherit;
  }
}

@media screen and (max-width: 430px) {
  .popup__container {
    max-width: 280px;
  }

  .popup__close-button {
    width: 26px;
  }

  .popup__title {
    font-size: 18px;
    margin: 25px auto 76px;
  }

  .popup__user-info {
    margin-bottom: 46px;
  }

  .popup__input {
    font-size: 14px;
    padding-bottom: 9px;
  }

  .popup__save-button {
    font-size: 14px;
    margin-bottom: 25px;
  }
}
