@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/body.css);
@import url(../blocks/header.css);
@import url(../blocks/profile.css);
@import url(../blocks/grid.css);
@import url(../blocks/footer.css);
@import url(../blocks/popup.css);
@import url(../blocks/popup-image.css);
@import url(../blocks/popup-cell.css);

.form__input_type_error {
  border-bottom: 2px solid red;
}

.popup__span-container {
  margin: 0 auto;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.form__input-error {
  font-size: 11px;
  color: red;
  width: 83%;
  position: absolute;
  top: 23px;
}

@media screen and (max-width: 780px) {
  .form__input-error {
    font-size: 10px;
    width: 90%;
  }
}

@media screen and (max-width: 430px) {
  .form__input-error {
    font-size: 10px;
    width: 90%;
    top: 30px;
  }
}
